:root {
    --text-color: #eeeee4
    --link-color: #1e81b0
    --background-color: #343b26
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #121212;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: #eeeee4
}

a {
    color: var(--link-color);
    text-decoration: none;
}
